language: node_js
node_js:
  - node # uses most recent stable node version
services:
  - postgresql # starts up postgres
addons:
  postgresql: '9.6' # highest available postgres version on Travis
dist: trusty # uses trusty environment
sudo: false # when on trusty, uses Docker containers for speed
install:
  - npm ci # faster, goes only from package-lock
before_script:
  - psql -c 'create database "omniEats";' -U postgres # remember to change this name if you change it elsewhere (e.g. package.json)
  - npm run seed
